@model AcademiaFit.Application.ViewModels.AlunoViewModel
@{
    ViewData["Title"] = "Cadastrar Aluno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro de Novo Aluno</h1>
<br />
<partial name="_partialFormulario"/>

