@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 5%;">
    <h1 class="display-4">Academia Fit</h1><br />
    <p>Projeto Final do curso Eng. de Software .NET do <a href="https://www.infnet.edu.br/esti/">Instituto Infnet</a></p>
    <i>Em desenvolvimento por <i class="fa fa-network-wired"></i><a href="https://github.com/Rafael955/AcademiaFit"><b> Rafael Ferreira</b></a></i>
</div>
