@model AcademiaFit.Application.ViewModels.ProfessorViewModel
@{
    ViewData["Title"] = "Cadastrar Professor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro de Novo Professor</h1>
<br />
<partial name="_partialFormulario" />
